.projectContainer {
  height: 100vh;
  background-color: black;
  color: #2eeffb;

  &__detailsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__bandUp {
      display: flex;
      height: 55%;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      font-family: "Cinzel Decorative", cursive;

      &__aboutProject {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__descProject {
          p {
            margin: 2% 2% 2% 10%;
            font-size: 24px;
          }
          a {
            margin-left: 2%;
            font-family: "Viking";
            color: #2eeffb;
          }
          a:hover {
            color: white;
            font-family: "Cinzel Decorative", cursive;
          }
        }
      }

      &__projectSelected {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 2%;
        img {
          border: solid 1px #2eeffb;
          height: 350px;
          width: 500px;
          border-radius: 20px;
        }
      }
    }

    &__bandDown {
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &__projectList {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 6rem;
        &__buttonProject {
          border: solid 1px #2eeffb;
          border-radius: 17px;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 75%;
          img {
            height: 100%;
            width: 100%;
            border-radius: 17px;
          }
        }
      }
    }
  }
}
