@font-face {
  font-family: "Viking";
  src: url("../../assets/font/rune.ttf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  src: url("../../assets/font/CinzelDecorative-Regular.ttf")
    format("truetype");
}
