@font-face {
  font-family: "Viking";
  src: url("/font/rune.ttf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  src: url("/portfolio/GavindeZaltzaPorfolio/public/font/CinzelDecorative-Regular.ttf")
    format("truetype");
}
