// TYPO

$smallTextSize: 16px;
$mediumTextSize: 18px;
$textSize: 24px;
$categorySize: 28px;
$titleSize: 32px;

// MARGIN & PADDIN

$marginBoxTopAndBottom: 60px 0;
$marginBoxTopAndBottomResponsive: 30px 0;

// COLORS

$colorTextBorder: #37fafe;
$colorTextGlobal: #2eeffb;
$colorBlack: #000;
$colorWhite: #fff;
